*{
    
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding:0;
    margin: 0;
    background-color: #eeffee;
}

.folha{
    height: 100%;
    width: 100%;
    background-color: #FFF;
}


.botao01{
font:normal 16px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#325980;
background:#e0e0e0;
border:1px solid #919191;
text-shadow:0px -1px 0.3px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:10px 10px 10px 10px;
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
padding:12px 20px;
cursor:pointer;
margin:0 auto;
}
.botao01:active{
cursor:pointer;
position:relative;
top:2px;
}
.botao01:disabled {
    background: #e0e0e0;
    color:#aaa;
}

.tablediv{
    width:80%;
    background-color: #446640;
    box-shadow:2px 2px 5px #000000;
    -moz-box-shadow:2px 2px 5px #000000;
    -webkit-box-shadow:2px 2px 5px #000000;
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    color:#c3d0e7;
    
}

.tablediv h3{
    text-shadow:0px -1px 2px #222222;
    font-family: Verdana, sans-serif;
}

.tablediv p{
    font-family: Verdana, sans-serif;
}

.tablediv table{
    width: 100%;
    border-radius: 10px;
    padding:5px;
    border: black;
        
}

.tabela1{
    border: 1px solid #000;
    border-spacing: 0px;
    padding: 5px;
    margin:auto;
}

.tabela1 thead{
    background-color: #987;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
}
.tabela1 tbody{
    background-color: #edb;
    font-family: Arial, sans-serif;
}

#enquete div{
   display: inline-block;
   height: 120px;
   width: 120px;
   border-radius: 5px;
}

.selecEnquete{
    border: solid blue;
}

.container1{
    background-color: #ccccdd;
    box-shadow:2px 2px 5px #000000;
    -moz-box-shadow:2px 2px 5px #000000;
    -webkit-box-shadow:2px 2px 5px #000000;
    border-radius:5px 5px 5x 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    border: 3px;
    width:80%;
    padding: 10px;
}

.fades{
    border: 3px dashed #AAAA33;
}

.titulo1{
	text-shadow: #000 2px 3px 2px;
        font-family: Verdana, sans-serif;
        color: #9191cc;
        font-size: 30px;
}